.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    -webkit-filter: blur(1.2px);
}

.slide a {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-shadow: 0px 0px 5px black;
    color: white;
    text-decoration: none;
}

.slide.active {
    flex: 10;
    -webkit-filter: none;
}

.slide.active a {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}