.col {
    margin: 3% 0%;
}

.btnsCars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 4.2vh;
}

// .windowByed {
//     color: brown;
//     border: 1px solid black;
//     border-radius: 0.2rem;
// }