<head>
    <%- include('./components/head'); %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="container">

            <h1>Add new Car</h1>

            <form action="/addcar" method="POST">
                <div class="input-field">
                    <input id="title" name="title" type="text" class="validate" required />
                    <label for="title">Car name</label>
                    <span class="helper-text" data-error="Enter car name"></span>

                </div>

                <div class="input-field">
                    <input id="price" name="price" type="number" class="validate" required min="1" />
                    <label for="title">Price of car</label>
                    <span class="helper-text" data-error="Enter price"></span>
                </div>

                <div class="input-field">
                    <input id="img" name="img" type="text" class="validate" required />
                    <label for="img">URL picture of car</label>
                    <span class="helper-text" data-error="enter the URL of the image"></span>

                </div>

                <button class="btn btn-primary">Add Car</button>
            </form>
        </div>

        <%- include('./components/footer'); %>
</body>