<head>
    <%- include('./components/head'); %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="container">
            HI

        </div>
        <%- include('./components/footer'); %>

</body>