<head>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar') %>
        <div class="container">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#login">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#register">Registration</a>
                </li>
            </ul>

            <!-- Login -->
            <div id="login">
                LOGIN
            </div>

            <!-- Registration -->
            <div id="register">
                REG
            </div>

        </div>

        <%- include('../components/footer'); %>
</body>