<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar') %>
        <div class="container">

            <h1>Add new Car</h1>

            <form action="/addcar" method="POST">

                <div class="input-group mb-3">
                    <input id="title" name="title" type="text" class="form-control" placeholder="Car name" required>

                </div>

                <div class="input-group mb-3">
                    <input id="price" name="price" type="number" class="form-control"
                        placeholder="Price of car in dollars" required min="1">
                </div>

                <div class="input-group mb-3">
                    <input id="img" name="img" type="text" class="form-control" placeholder="URL picture of car"
                        required>
                </div>

                <button class="btn btn-success">Add Car</button>
            </form>
        </div>

        <%- include('../components/footer'); %>
</body>