<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar'); %>
        <div class="container">
            <%- car.title %>
                <% console.log(car)%>

        </div>
        <%- include('../components/footer'); %>
</body>

</html>