<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CARS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <div>
                <a href="/">HOME</a>
            </div>

            <div>
                <a href="/cars">CARS</a>
            </div>

            <div>
                <a href="/addcar">ADD CAR</a>
            </div>

            <div>
                <a href="/cart">CART</a>
            </div>

            <div>
                <a href="/orders">ORDERS</a>
            </div>
        </ul>
    </div>
</nav>